@charset "UTF-8";

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.mian-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

.site-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-bar-list > li {
  display: inline-block;
}
.nav-bar-list > li + li {
  margin-left: 20px;
}
.nav-bar-list > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
}

.cover {
  padding: 0 20px;
}

@media (min-width: 800px) {
  .site-title {
    float: left;
  }
  .nav-bar-list {
    float: right;
  }
}