@charset "UTF-8";

.input-group-addon {
    min-width:120px;
    text-align:left;
}

#familyTreeSection {
	display:none;
}

#showAncestorBtn {
	display:none;
}

#showDescendantBtn {
	display:none;
}

#deletePersonBtn {
	display:none;
}

#editPersonBtn {
	display:none;
}

#addMultiplePerson {
	display:none;
}

#loadingWindow {
  keyboard: false;
}

#loader {
	display: none; 
	margin-left: auto; 
	margin-right: auto; 
	width: 100px; 
	height: 100px;
}